 @import '../index.scss';


// Block
.list {
    display: flex;
    flex-direction: column;
    gap: 5px;


    // Element
    &__item {
        align-items: center;
        display: flex;
        gap: 15px;
        font-size: 1.8rem;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: $grey-light;
        }

        &__text {
            font-weight: inherit;
        }
    }
}

.active {
    font-weight: 700;
    background-color: $grey-light
}